<h2>Edycja <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label 'Email' %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Oczekuję na potwierdzenie dla: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label 'Hasło' %> <br /><i>(pozostaw puste jeśli nie chcesz zmieniać hasła)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label 'Powtórz hasło' %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label 'Dotychczasowe hasło' %><br /> <i>(potrzebujemy dotychczasowego hasła aby potwierdzić zmiany)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Zmień" %>
  </div>
<% end %>

<h3>Usuń konto</h3>

<p>Niezadowolony? <%= button_to "Usuń konto", registration_path(resource_name), data: { confirm: "Czy jesteś pewien?" }, method: :delete %></p>

<%= link_to "Cofnij", :back %>
