<p id="notice"><%= notice %></p>

<p>
  <strong>Użytkownik:</strong>
  <%= @comment.user_name %>
</p>

<p>
  <strong>Treść:</strong>
  <%= @comment.body %>
</p>

<p>
  <strong>Zdjęcie:</strong>
  <p><%= image_tag(@comment.photo.image_url) %></p>
</p>

<%= link_to 'Edytuj', edit_comment_path(@comment) %> |
<%= link_to 'Cofnij', photo_path(@photo) %>
