<h1>Lista użytkowników</h1>

<table>
  <thead>
    <tr>
      <th>Nazwa użytkownika</th>
      <th>Opis</th>
      <th>Zdjęcie profilowe</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.user_name %></td>
        <td><%= user.description %></td>
        <td><%= image_tag(user.image_url) %></td>
        <td><%= link_to 'Pokaż', user %></td> |
        <td><%= link_to 'Edytuj', edit_user_path(user) %></td>|
        <td><%= link_to 'Usuń', user, method: :delete, data: { confirm: 'Czy na pewno chcesz usunąć użytkownika?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Dodaj nowego użytkownika', new_user_path %>
