
<span id="profile">
  <%= image_tag(@user.image_url) %>
</span>
<h2>
  <%= @user.user_name %>
</h2><br />

<p>
  <h3><strong>Opis:</strong></h3>
  <div id="des"><h5><%= @user.description %></h5></div>
</p>

<p>
  <%= link_to 'Edytuj profil', edit_user_path(@user) %> |
  <%= link_to 'Dodaj nowe zdjęcie', new_photo_path %>
</p><br />

<hr /><br />
<p>
  <h3><strong>Dodane zdjęcia:</strong></h3><br />
    <section id="photos">
      <% @user.photos.each do |photo| %>
        <%= link_to image_tag(photo.image_url), photo %>
      <% end %>
    </section>
</p>
