<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.user_name %>
</p>
<p>
  <strong>Description:</strong>
  <%= @user.description %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @user.image_url %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
