<p id="notice"><%= notice %></p>

<p>
  <strong>Nazwa użytkownika:</strong>
  <%= @user.user_name %>
</p>

<p>
  <strong>Zdjęcie profilowe:</strong>
  <%= image_tag(@user.image_url) %>
</p>

<p>
  <strong>Opis:</strong>
  <%= @user.description %>
</p>

<%= link_to 'Edytuj', edit_user_path(@user) %> |
<%= link_to 'Cofnij', users_path %>
