
<div id="profile">
  <% unless @user.image_url.present? %>
    <p> Brak zdjęcia profilowego</p><br />
  <% else %>
    <%= image_tag(@user.image_url) %>
  <% end %>
</div>

<h1><%= @user.user_name %></h1>

<p>
  <h3><strong>Opis:</strong></h3>
  <% unless @user.description.present? %>
    <p> Brak opisu </p><br />
  <% else %>
    <div id="des"><h5><%= @user.description %></h5></div>
  <% end %>
</p>

<p>
  <%= link_to 'Edytuj profil', edit_user_path(@user) %> |
  <%= link_to 'Dodaj nowe zdjęcie', new_photo_path %>
</p><br />

<hr /><br />
<p>
  <h3><strong>Dodane zdjęcia:</strong></h3><br />
  <% unless @user.photos.present? %>
    <p> Brak zdjęć </p><br />
  <% else %>
    <section id="photos">
      <% @user.photos.each do |photo| %>
        <%= link_to image_tag(photo.image_url), photo %>
      <% end %>
    </section>
  <% end %>
</p>
