<p id="notice"><%= notice %></p>

<p>
  <strong>Tytuł:</strong>
  <%= @photo.title %>
</p>

<p>
  <%= image_tag(@photo.image_url) %>
</p>

<p>
  <strong>Opis:</strong>
  <%= @photo.description %>
</p>

<p>
  <strong>Dane techniczne:</strong>
  <%= @photo.technical_info %>
</p>

<%= link_to 'Edytuj', edit_photo_path(@photo) %> |
<%= link_to 'Usuń', @photo, method: :delete, data: { confirm: 'Czy na pewno chcesz usunąć to zdjęcie?' } %>
<%= link_to 'Cofnij', photos_path %>
