
<p>
  <h3><strong>Tytuł:</strong></h3>
  <h5><%= @photo.title %></h5>
</p>

<p>
  <h3><strong>Autor:</strong></h3>

  <h3><%= link_to @photo.user.user_name, user_path(@photo.user) %></h3>
</p>

<p>
  <%= link_to image_tag(@photo.image_url), photo_full_view_path(@photo.id)  %>
</p>

<p>
  <h3><strong>Opis:</strong></h3>
  <% unless @photo.description.present? %>
    <p> Brak opisu </p><br />
  <% else %>
    <div id="des"><h5><%= @photo.description %></h5></div>
  <% end %>
</p>

<p>
  <h3><strong>Dane techniczne:</strong></h3>
  <% unless @photo.technical_info.present? %>
    <p> Brak danych technicznych </p><br />
  <% else %>
    <div id="des"><h5><%= @photo.technical_info %></h5></div>
  <% end %>
</p>
<p>
  <% if @photo.user == current_user %>
    <%= link_to 'Edytuj', edit_photo_path(@photo) %> |
    <%= link_to 'Usuń', @photo, method: :delete, data: { confirm: 'Czy na pewno chcesz usunąć to zdjęcie?' } %> |
    <%= link_to 'Cofnij', photos_path %><br />
  <% end %>
</p>

<strong><h3>Komentarze</h3></strong>
<% unless @comments.present? %>
  <p> Brak komentarzy </p><br />
<% else %>
  <% @comments.each do |comment| %>

    <div id="comment">
      <strong><h4><%= comment.user_name %></h4></strong>

      <p><%= comment.body %></p>
      <p>
        <% if comment.user == current_user %>
          <%= link_to 'Edit', edit_comment_path(@comment), method: :edit %> |
          <%= link_to 'Delete', comment_path(comment), method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </p>
    </div><br />
  <% end %>
<% end %>
<h3>Dodaj komentarz</h3><br />
<%= render partial: 'comments/form', locals: { comment: @comment } %>
